@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #00FF88;
    --bg-color: #1A0B2E;
    --choose-card-color: rgba(53, 17, 101, 0.4);
    --featured-card-bg-color: #250D44;
    --meet-social-icon-broder-color: #533C72;
}

.bg-color {
    background: var(--bg-color);
}

.container {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.grid {
    display: grid;
}

.primary-btn {
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 50px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover {
    transform: scale(1.05);
}

.secondary-btn {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
    background: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.secondary-btn:hover {
    transform: scale(1.05);
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

.hidden{
    display: none;
}

/* ================== share style ================== */

/* ======================================== 
            Navber style start 
    ================================== */

header {
    background: var(--bg-color);
}

.navber {
    justify-content: space-between;
    align-items: center;
}

.brand a img {
    padding: 30px 0;
}

.menu {
    gap: 32px;
}

.menu-link {
    list-style: none;
}

.menu-links {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;

}

/* ======================================= 
        Navber style end
     ================================= */
/* ======================================== 
            banner style start 
    ================================== */
.hero-bg {
    padding: 101px 0;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    width: 100%;
    padding: 106px 0;
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    width: 100%;
}

.bage-posi {
    position: relative;
}

.bage {
    position: absolute;
    top: -80px;
    right: -80px;
    padding: 8px 16px;
    font-size: 1.12rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--bg-color);
    background: var(--secondary-color);
    border-radius: 50px;

}

.banner-contain {
    text-align: center;
    color: var(--primary-color);
}

.banner-title {
    padding-top: 40px;
    font-size: 3.7rem;
    font-weight: 900;
}

.banner-detail {
    padding: 8px 0 24px;
    font-size: 1rem;
    font-weight: 400;
}

/* ======================================= 
        banner style end
     ================================= */
/* ======================================== 
        About the Potcast start 
    ================================== */
.potcast-section {
    padding-top: 50px;
}

.potcast-detail, .join {
    max-width: 804px;
    margin: 0 auto;
    padding-top: 16px;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: var(--primary-color);
    line-height: 25px;
}

.join{
    padding-top: 50px;
    padding-bottom: 80px;    
}

.podcast-cards{
    padding: 80px 0 120px;
    border-top: 1px solid var(--primary-color);
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}


.podcast-card h3{
    padding-bottom: 16px;
    font-size: 3rem;
    font-weight: 900;
    color: var(--secondary-color);
    text-align: center;
}

.podcast-card p{
    font-size: 1rem;
    font-weight: normal;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
}

/* ======================================= 
        About the Potcast end
     ================================= */
/* ======================================== 
        Why Choose TechWave style start 
    ================================== */
    .choose{
        background: #230E3D;
        padding: 120px 0;
    }

    .choose-title{
        padding-bottom: 40px;
    }

    .choose-cards{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        gap: 30px;
    }
    
    .choose-column{
        grid-column: span 2;
    }

    .choose-row{
        grid-row: span 2;
    }

    .choose-card{
        padding: 40px;
        flex-direction: column;
        color: var(--primary-color);
        background: var(--choose-card-color);
        border-radius: 40px;
    }

    .choose-card-title{
        padding: 16px 0;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .choose-card-detail{
        font-size: 1rem;
        font-weight: 400;
    }

/* ======================================= 
        Why Choose TechWave style end
     ================================= */
/* ======================================== 
        featured style start 
    ================================== */
    .featured{
        padding: 120px 0;
    }

    .featured-cards{
        padding-top: 40px;
        gap: 30px;
        

    }

    
    .featured-card{
        max-width: 380px;
        border-radius: 30px;
        overflow: hidden;
        color: var(--primary-color);
        background: var(--featured-card-bg-color);
    }
    
    
    .featured-card-text-contain{
        padding: 24px;
    }
    
    .featured-card-title{
        font-size: 1.5rem;
        font-weight: 700;
        
    }
    
    .featured-card-detail{
        padding: 12px 0;
        font-size: 1rem;
        font-weight: normal;
    }

    .featured-video-time{
        font-size: 1rem;
        color: var(--secondary-color);
    }


/* ======================================= 
        featured style end
     ================================= */
/* ======================================== 
        Meet the host style start 
    ================================== */

    .meet-the-host{
        padding-bottom: 120px;
    }

    .meet-contain{
        margin-top: 40px;
        padding: 40px;
        border-radius: 40px;
        gap: 24px;
        align-items: center;
        color: var(--primary-color);
        background: var(--choose-card-color); 
    }

    .meet-title{
        font-size: 2rem;
        font-weight: 700;
    }

    .meet-detail{
        padding: 16px 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
    }

    .meet-social{
        display: inline-block;
        gap: 8px;
        cursor: pointer;
    }

    .meet-social-icon{
        padding: 12px;
        border: 1px solid var(--meet-social-icon-broder-color);
        border-radius: 50%;
    }


/* ======================================= 
        Meet the host style end
     ================================= */
/* ======================================== 
        footer style start 
    ================================== */
    footer{
        padding: 120px 0;
        background-image: url(../images/footer-bg.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .footer-contain{
        color: var(--primary-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo img{
        width: 100%;
    }

    .footer-icon{
        padding: 32px 0;
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        cursor: pointer;
    }

    .footer-social-icon{
        list-style: none;
        font-size: 1rem;
    }
/* ======================================= 
        footer style end
     ================================= */

    /* ============================================================
                Responsive web for small devices (576px)
    =============================================================*/

    @media screen and (max-width: 576px) {

        .container{
            max-width: 400px;
        }

        .section-title{
            font-size: 2rem;
        }

        /* ====================share style======================= */
        .menu, .menu-btn{
            display: none;
        }

        .menu-ber{
            display: block;
        }
    }


    /* ========================About the potcast======================= */






