@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #00FF88;
    --bg-color: #1A0B2E;
}

.bg-color {
    background: var(--bg-color);
}

.container {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.grid {
    display: grid;
}

.primary-btn {
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 50px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover {
    transform: scale(1.05);
}

.secondary-btn {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
    background: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.secondary-btn:hover {
    transform: scale(1.05);
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

/* ================== share style ================== */

/* ======================================== 
            Navber style start 
    ================================== */

header {
    background: var(--bg-color);
}

.navber {
    justify-content: space-between;
    align-items: center;
}

.brand a img {
    padding: 30px 0;
}

.menu {
    gap: 32px;
}

.menu-link {
    list-style: none;
}

.menu-links {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;

}

/* ======================================= 
        Navber style end
     ================================= */
/* ======================================== 
            banner style start 
    ================================== */
.hero-bg {
    padding: 101px 0;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    width: 100%;
    padding: 106px 0;
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: ;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    width: 100%;
}

.bage-posi {
    position: relative;
}

.bage {
    position: absolute;
    top: -80px;
    right: -80px;
    padding: 8px 16px;
    font-size: 1.12rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--bg-color);
    background: var(--secondary-color);
    border-radius: 50px;

}

.banner-contain {
    text-align: center;
    color: var(--primary-color);
}

.banner-title {
    padding-top: 40px;
    font-size: 3.7rem;
    font-weight: 900;
}

.banner-detail {
    padding: 8px 0 24px;
    font-size: 1rem;
    font-weight: 400;
}

/* ======================================= 
        banner style end
     ================================= */
/* ======================================== 
        About the Potcast start 
    ================================== */
.potcast-section {
    padding-top: 50px;
}

.potcast-detail, .join {
    max-width: 804px;
    margin: 0 auto;
    padding-top: 16px;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: var(--primary-color);
    line-height: 25px;
}

.join{
    padding-top: 50px;
    padding-bottom: 80px;    
}

.podcast-cards{
    padding: 80px 0 120px;
    border-top: 1px solid var(--primary-color);
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}


.podcast-card h3{
    padding-bottom: 16px;
    font-size: 3rem;
    font-weight: 900;
    color: var(--secondary-color);
    text-align: center;
}

.podcast-card p{
    font-size: 1rem;
    font-weight: normal;
    color: var(--primary-color);
    text-align: center;
}

/* ======================================= 
        About the Potcast end
     ================================= */
/* ======================================== 
            Navber style start 
    ================================== */

/* ======================================= 
        Navber style end
     ================================= */
/* ======================================== 
            Navber style start 
    ================================== */

/* ======================================= 
        Navber style end
     ================================= */
/* ======================================== 
            Navber style start 
    ================================== */

/* ======================================= 
        Navber style end
     ================================= */